.img{
    background-image: url(assets/images/logos/glcLogo.png);
    object-fit: cover;
}
.bg{
    background-image: url(assets/images/logos/glcLogo.png);
    transform: scale(0.94);
    filter: blur(12px);
    object-fit: cover;
}