@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.z-index{
    z-index: 5;
}
.card{
    width: 100% !important;
    height: 340px !important;
    border-radius: 12px !important;
    display: flex;
    flex-direction: column;
    background-color: #6d8f02;
}
.card-2{
    width: 100% !important;
    height: 340px !important;
    border-radius: 12px !important;
    display: flex;
    flex-direction: column;
    background-color: #bb3625;
}
.card-3{
    width: 100% !important;
    height: 340px !important;
    border-radius: 12px !important;
    display: flex;
    flex-direction: column;
    background-color: #c59418;
}
.card-img{
    width: 100%;
    height: 75%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 15%;
}
.img-1{
    background-image: url("../../../../assets/images/15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-2{
    background-image: url("../../../../assets/images/12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-3{
    background-image: url("../../../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-text{
    font-family: "Almendra", serif !important;
    background-color: transparent;
    width: 100%;
    height: 30%;
    padding-left: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.pad{
    padding: 0px !important;
    width: auto !important;
    max-width: 280px !important;
    margin-bottom: 20px !important;
    row-gap: 10px !important;
    column-gap: 30px !important;
}
@media screen and (max-width: 385px) {
    .card {
      width: 280px !important;
      height: 320px !important;
    }
    .card-2 {
      width: 280px !important;
      height: 320px !important;
    }
    .card-3 {
      width: 280px !important;
      height: 320px !important;
    }
  }